<link rel="stylesheet" href="/asset/css/shop.css">
<!-- Shop Content -->
<div class="container">
    <div class="breadcrumb">
        <a href="/">Home</a> / <span>Shop</span>
    </div>

    <div class="shop-content">
        <!-- Sidebar with Filters -->
        <div class="sidebar">
            <h3>Filters</h3>
            <div class="filter-section">
                <div class="filter-title">
                    <span>Price Range</span>
                </div>
                <div class="price-range">
                    <div class="price-inputs">
                        <input type="number" placeholder="Min" value="0">
                        <input type="number" placeholder="Max" value="9999">
                    </div>
                    <button class="price-sort-btn shop-now-btn" style="padding: 8px; font-size: 14px;">Apply</button>
                </div>
            </div>

            <div class="filter-section">
                <div class="filter-title">
                    <span>Brand</span>
                </div>
                <div class="filter-options">
                    <% categories.forEach(category=> { %>
                        <div class="filter-option">
                            <input value="<%= category %>" type="checkbox" class="brand-select">
                            <label for="brand1">
                                <%= category %>
                            </label>
                        </div>
                        <% }) %>
                </div>
            </div>
        </div>

        <!-- Products Section -->
        <div class="products-section">
            <div class="products-header">
                <div>
                    <h2>
                        Products
                    </h2>
                    <p class="products-count">Showing 1-12 of <%= totalProduct%> products</p>
                </div>
                <div class="sort-options">
                    <span>Sort by:</span>
                    <select class="sort-select">
                        <option value="newest">Newest</option>
                        <option value="lowToHigh">Price: Low to High</option>
                        <option value="highToLow">Price: High to Low</option>
                    </select>
                </div>
            </div>
            <div id="product-list">
                <% getProductByCategory.forEach(product=> { %>

                    <% }) %>
            </div>
            <div class="products-grid">
                <% if(!getProductByCategory || getProductByCategory.length===0) { %>
                    <h2>Hiện Chưa Có Sản Phẩm Nào</h2>
                    <% }else {%>
                        <% getProductByCategory.forEach(function(product) { %>
                            <!-- Product 1 -->
                            <a href="/shop/<%= encodeURIComponent(product.category) %>/<%= product._id %>"
                                class="product-card">
                                <div class="product-image">
                                    <div class="discount-badge">
                                        <%= product.discountPercent %>%
                                    </div>
                                    <img class="img-main" src="<%= product.images[0].url %>"
                                        style="width: 100%; height: 100%; background-color: #f0f0f0; display: flex; align-items: center; justify-content: center;">
                                    <% const randomIndex=Math.floor(Math.random() * product.images.length); %>
                                        <img style="width: 100%; height: 100%; background-color: #f0f0f0; display: flex; align-items: center; justify-content: center;"
                                            src="<%= product.images[randomIndex].url %>" class="img-hover">
                                </div>
                                <div data-category="<%= product.category %>" class="product-info">
                                    <h3 class="product-title">
                                        <%= product.name %>
                                    </h3>
                                    <div class="product-price">
                                        <% let discount=product.discountPercent; let price=product.price;let
                                            finalPrice=price * (1 - discount / 100);finalPrice=finalPrice.toFixed(2); %>
                                            <span class="current-price">
                                                <%= finalPrice %>$
                                            </span>
                                            <% if (discount> 0) { %>
                                                <span class="original-price">
                                                    <%= product.price %>$
                                                </span>
                                                <% } %>

                                    </div>
                                    <div style="margin-top:9px">
                                        <span>Số Lượng: <%= product.stock %></span>
                                    </div>
                                    <div class="product-rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </a>
                            <% }) %>
                                <% } %>

            </div>

            <!-- Pagination -->
            <div class="pagination">
                <% if (currentPage> 1) { %>
                    <a href="?page=<%= currentPage - 1 %>"
                        class="px-3 py-2 bg-cyan-600 text-white rounded-lg hover:bg-cyan-700"><button><i
                                class="fas fa-chevron-left"></i></button></a>
                    <% } %>
                        <% for (let i=1; i <=totalPages; i++) { %>
                            <a href="?page=<%= i %>"
                                class="px-3 py-2 rounded-lg <%= i === currentPage ? 'bg-cyan-700 text-white active' : 'bg-gray-200 text-gray-700 hover:bg-gray-300' %>">
                                <button class="<%= i === currentPage ? 'active' : ' ' %>">
                                    <%= i %>
                                </button>
                            </a>
                            <% } %>
                                <% if (currentPage < totalPages) { %>
                                    <button><a href="?page=<%= currentPage + 1 %>"
                                            class="px-3 py-2 bg-cyan-600 text-white rounded-lg hover:bg-cyan-700"><i
                                                class="fas fa-chevron-right"></i></a></button>
                                    <% } %>
            </div>
        </div>
    </div>
</div>

<script>
    //
    document.addEventListener("DOMContentLoaded", function () {
        const sortSelects = document.querySelectorAll('.sort-select');
        const productList = document.getElementById('product-list');
        const getCategory = document.querySelectorAll('.product-info');
        const productGrid = document.querySelector(".products-grid");
        const priceSortBtn = document.querySelector(".price-sort-btn");
        let category = getCategory.length > 0 ? getCategory[0].getAttribute("data-category") : null;

        const brandSelects = document.querySelectorAll('.brand-select');
        //brand sort
        let brand = [];
        brandSelects.forEach(select => {
            select.addEventListener("change", () => {
                if (select.checked) {
                    brand.push(select.value)
                } else {
                    brand = brand.filter(br => br !== select.value);
                }
                productGrid.innerHTML = "";
                fetch('/brand-filter/' + category, {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({ brand: brand })
                })
                    .then(res => res.json())
                    .then(data => {
                        productList.innerHTML = "";

                        const html = data.products.map(prd => {
                            const discount = prd.discountPercent || 0;
                            const price = prd.price || 0;
                            const finalPrice = (price * (1 - discount / 100)).toFixed(2);
                            const randomIndex = Math.floor(Math.random() * prd.images.length);
                            return `
                        <a href="/shop/${encodeURIComponent(prd.category)}/${prd._id}"
                            class="product-card">
                            <div class="product-image">
                                    <div class="discount-badge">
                                        ${prd.discountPercent}%
                                    </div>
                                    <img class="img-main" src="${prd.images[0].url}"
                                        style="width: 100%; height: 100%; background-color: #f0f0f0; display: flex; align-items: center; justify-content: center;">
                                        <img style="width: 100%; height: 100%; background-color: #f0f0f0; display: flex; align-items: center; justify-content: center;"
                                            src="${prd.images[randomIndex].url}" class="img-hover">
                            </div>
                            <div data-category="${prd.category}" class="product-info">
                                <h3 class="product-title">
                                    ${prd.name}
                                </h3>
                                <div class="product-price">
                                        <span class="current-price">
                                            ${finalPrice}$
                                        </span>
                                        <span class="original-price">
                                            ${prd.price}$
                                        </span>
                                </div>
                                <div style="margin-top:9px">
                                    <span>Số Lượng: ${prd.stock}</span>
                                </div>
                                <div class="product-rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                        </a>`;
                        }).join("");

                        productGrid.innerHTML = html;
                    })
                    .catch(err => {
                        console.error("Error fetching sorted products:", err);
                    });
            });
        })
        //

        //sort
        sortSelects.forEach(select => {
            select.addEventListener("change", function () {
                const opt = this.value;
                productGrid.innerHTML = "";
                fetch("/sort-product/" + category, {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({ option: opt })
                })
                    .then(res => res.json())
                    .then(data => {
                        productList.innerHTML = "";

                        const html = data.products.map(prd => {
                            const discount = prd.discountPercent || 0;
                            const price = prd.price || 0;
                            const finalPrice = (price * (1 - discount / 100)).toFixed(2);
                            const randomIndex = Math.floor(Math.random() * prd.images.length);
                            return `
                            <a href="/shop/${encodeURIComponent(prd.category)}/${prd._id}"
                                class="product-card">
                                <div class="product-image">
                                    <div class="discount-badge">
                                        ${prd.discountPercent}
                                    </div>
                                    <img class="img-main" src="${prd.images[0].url}"
                                        style="width: 100%; height: 100%; background-color: #f0f0f0; display: flex; align-items: center; justify-content: center;">
                                        <img style="width: 100%; height: 100%; background-color: #f0f0f0; display: flex; align-items: center; justify-content: center;"
                                            src="${prd.images[randomIndex].url}" class="img-hover">
                                </div>
                                
                                <div data-category="${prd.category}" class="product-info">
                                    <h3 class="product-title">
                                        ${prd.name}
                                    </h3>
                                    <div class="product-price">
                                            <span class="current-price">
                                                ${finalPrice}$
                                            </span>
                                            <span class="original-price">
                                                ${prd.price}$
                                            </span>
                                    </div>
                                    <div style="margin-top:9px">
                                        <span>Số Lượng: ${prd.stock}</span>
                                    </div>
                                    <div class="product-rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </a>`;
                        }).join("");

                        productGrid.innerHTML = html;
                    })
                    .catch(err => {
                        console.error("Error fetching sorted products:", err);
                    });
            });
        });
        //

        //price sort 
        priceSortBtn.addEventListener("click", function () {
            const minPrice = document.querySelector('.price-inputs input:nth-child(1)').value;
            const maxPrice = document.querySelector('.price-inputs input:nth-child(2)').value
            productGrid.innerHTML = "";
            fetch("/sort-by-price-product/" + category, {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ minPrice: minPrice, maxPrice: maxPrice })
            })
                .then(res => res.json())
                .then(data => {
                    productList.innerHTML = "";

                    const html = data.products.map(prd => {
                        const discount = prd.discountPercent || 0;
                        const price = prd.price || 0;
                        const finalPrice = (price * (1 - discount / 100)).toFixed(2);
                        const randomIndex = Math.floor(Math.random() * prd.images.length);
                        return `
                            <a href="/shop/${encodeURIComponent(prd.category)}/${prd._id}"
                                class="product-card">
                                <div class="product-image">
                                    <div class="discount-badge">
                                        ${prd.discountPercent}%
                                    </div>
                                    <img class="img-main" src="${prd.images[0].url}"
                                        style="width: 100%; height: 100%; background-color: #f0f0f0; display: flex; align-items: center; justify-content: center;">
                                        <img style="width: 100%; height: 100%; background-color: #f0f0f0; display: flex; align-items: center; justify-content: center;"
                                            src="${prd.images[randomIndex].url}" class="img-hover">
                            </div>
                                <div data-category="${prd.category}" class="product-info">
                                    <h3 class="product-title">
                                        ${prd.name}
                                    </h3>
                                    <div class="product-price">
                                            <span class="current-price">
                                                ${finalPrice}$
                                            </span>
                                            <span class="original-price">
                                                ${prd.price}$
                                            </span>
                                    </div>
                                    <div style="margin-top:9px">
                                        <span>Số Lượng: ${prd.stock}</span>
                                    </div>
                                    <div class="product-rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </a>`;
                    }).join("");

                    productGrid.innerHTML = html;
                })
                .catch(err => {
                    console.error("Error fetching sorted products:", err);
                });
        });

    });


</script>