<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Get started with a free and open source Tailwind CSS dashboard featuring a sidebar layout, advanced charts, and hundreds of components based on Flowbite">
    <meta name="author" content="Themesberg">
    <meta name="generator" content="Hugo 0.143.0">

    <title>Admin User List</title>

    <link rel="canonical" href="https://themesberg.com/product/tailwind-css/dashboard-windster">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://themewagon.github.io/windster/app.css">
    <link rel="apple-touch-icon" sizes="180x180" href="https://themewagon.github.io/windster/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://themewagon.github.io/windster/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://themewagon.github.io/windster/favicon-16x16.png">
    <link rel="icon" type="image/png" href="https://themewagon.github.io/windster/favicon.ico">
    <link rel="manifest" href="https://themewagon.github.io/windster/site.webmanifest">
    <link rel="mask-icon" href="https://themewagon.github.io/windster/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@">
    <meta name="twitter:creator" content="@">
    <meta name="twitter:title" content="Tailwind CSS Users List Page - Windster">
    <meta name="twitter:description"
        content="Get started with a free and open source Tailwind CSS dashboard featuring a sidebar layout, advanced charts, and hundreds of components based on Flowbite">
    <meta name="twitter:image" content="https://themewagon.github.io/docs/images/og-image.jpg">

    <!-- Facebook -->
    <meta property="og:url" content="https://themewagon.github.io/windster/users/list/">
    <meta property="og:title" content="Tailwind CSS Users List Page - Windster">
    <meta property="og:description"
        content="Get started with a free and open source Tailwind CSS dashboard featuring a sidebar layout, advanced charts, and hundreds of components based on Flowbite">
    <meta property="og:type" content="article">
    <meta property="og:image" content="https://themewagon.github.io/docs/images/og-image.jpg">
    <meta property="og:image:type" content="image/png">





    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141734189-6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-141734189-6');
    </script>


    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-THQTXJ7');</script>


</head>

<body class="bg-gray-50">

    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-THQTXJ7" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>





    <nav class="bg-white border-b border-gray-200 fixed z-30 w-full">
        <div class="px-3 py-3 lg:px-5 lg:pl-3">
            <div class="flex items-center justify-between">
                <div class="flex items-center justify-start">
                    <button id="toggleSidebarMobile" aria-expanded="true" aria-controls="sidebar"
                        class="lg:hidden mr-2 text-gray-600 hover:text-gray-900 cursor-pointer p-2 hover:bg-gray-100 focus:bg-gray-100 focus:ring-2 focus:ring-gray-100 rounded">
                        <svg id="toggleSidebarMobileHamburger" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <svg id="toggleSidebarMobileClose" class="w-6 h-6 hidden" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </button>
                    <a href="/admin" class="text-xl font-bold flex items-center lg:ml-2.5">
                        <img src="https://themewagon.github.io/windster/images/logo.svg" class="h-6 mr-2"
                            alt="Windster Logo">
                        <span class="self-center whitespace-nowrap">List Orders</span>
                    </a>
                </div>
                <div class="flex items-center">
                </div>
            </div>
    </nav>

    <div class="flex overflow-hidden bg-white pt-16">

        <aside id="sidebar"
            class="fixed hidden z-20 h-full top-0 left-0 pt-16 flex lg:flex flex-shrink-0 flex-col w-64 transition-width duration-75"
            aria-label="Sidebar">
            <div class="relative flex-1 flex flex-col min-h-0 border-r border-gray-200 bg-white pt-0">
                <div class="flex-1 flex flex-col pt-5 pb-4 overflow-y-auto">
                    <div class="flex-1 px-3 bg-white divide-y space-y-1">
                        <ul class="space-y-2 pb-2">
                            <li>
                                <form action="#" method="GET" class="lg:hidden">
                                    <label for="mobile-search" class="sr-only">Search</label>
                                    <div class="relative">
                                        <div
                                            class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                                            <svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z">
                                                </path>
                                            </svg>
                                        </div>
                                        <input type="text" name="email" id="mobile-search"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-cyan-600 focus:ring-cyan-600 block w-full pl-10 p-2.5"
                                            placeholder="Search">
                                    </div>
                                </form>
                            </li>
                            <li>
                                <a href="/admin"
                                    class="text-base text-gray-900 font-normal rounded-lg flex items-center p-2 hover:bg-gray-100 group">
                                    <svg class="w-6 h-6 text-gray-500 group-hover:text-gray-900 transition duration-75"
                                        fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
                                        <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
                                    </svg>
                                    <span class="ml-3">Dashboard</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/user-list"
                                    class="text-base text-gray-900 font-normal rounded-lg hover:bg-gray-100 flex items-center p-2 group ">
                                    <svg class="w-6 h-6 text-gray-500 flex-shrink-0 group-hover:text-gray-900 transition duration-75"
                                        fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd">
                                        </path>
                                    </svg>
                                    <span class="ml-3 flex-1 whitespace-nowrap">Users</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/product-list"
                                    class="text-base text-gray-900 font-normal rounded-lg hover:bg-gray-100 flex items-center p-2 group ">
                                    <svg class="w-6 h-6 text-gray-500 flex-shrink-0 group-hover:text-gray-900 transition duration-75"
                                        fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M10 2a4 4 0 00-4 4v1H5a1 1 0 00-.994.89l-1 9A1 1 0 004 18h12a1 1 0 00.994-1.11l-1-9A1 1 0 0015 7h-1V6a4 4 0 00-4-4zm2 5V6a2 2 0 10-4 0v1h4zm-6 3a1 1 0 112 0 1 1 0 01-2 0zm7-1a1 1 0 100 2 1 1 0 000-2z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                    <span class="ml-3 flex-1 whitespace-nowrap">Products</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/orders-list"
                                    class="text-base text-gray-900 font-normal rounded-lg hover:bg-gray-100 flex items-center p-2 group ">
                                    <svg class="w-6 h-6 text-gray-500 flex-shrink-0 group-hover:text-gray-900 transition
                                        duration-75" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                                        <path
                                            d="M465.4 192L431.1 144L209 144L174.7 192L465.4 192zM96 212.5C96 199.2 100.2 186.2 107.9 175.3L156.9 106.8C168.9 90 188.3 80 208.9 80L431 80C451.7 80 471.1 90 483.1 106.8L532 175.3C539.8 186.2 543.9 199.2 543.9 212.5L544 480C544 515.3 515.3 544 480 544L160 544C124.7 544 96 515.3 96 480L96 212.5z" />
                                    </svg>
                                    <span class="ml-3 flex-1"><i class="fa-solid fa-truck-fast"></i>Orders
                                        Manager</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/pending-order"
                                    class="text-base text-gray-900 font-normal rounded-lg hover:bg-gray-100 flex items-center p-2 group ">
                                    <svg class="w-6 h-6 text-gray-500 flex-shrink-0 group-hover:text-gray-900 transition
                                        duration-75" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                        fill="currentColor" class="bi bi-clock-history" viewBox="0 0 16 16">
                                        <path
                                            d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022zm2.004.45a7 7 0 0 0-.985-.299l.219-.976q.576.129 1.126.342zm1.37.71a7 7 0 0 0-.439-.27l.493-.87a8 8 0 0 1 .979.654l-.615.789a7 7 0 0 0-.418-.302zm1.834 1.79a7 7 0 0 0-.653-.796l.724-.69q.406.429.747.91zm.744 1.352a7 7 0 0 0-.214-.468l.893-.45a8 8 0 0 1 .45 1.088l-.95.313a7 7 0 0 0-.179-.483m.53 2.507a7 7 0 0 0-.1-1.025l.985-.17q.1.58.116 1.17zm-.131 1.538q.05-.254.081-.51l.993.123a8 8 0 0 1-.23 1.155l-.964-.267q.069-.247.12-.501m-.952 2.379q.276-.436.486-.908l.914.405q-.24.54-.555 1.038zm-.964 1.205q.183-.183.35-.378l.758.653a8 8 0 0 1-.401.432z" />
                                        <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0z" />
                                        <path
                                            d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5" />
                                    </svg>
                                    <span class="ml-3 flex-1">Pending
                                        Orders</span>
                                    <% if (orders.some(o=> o.isNew)) { %>
                                        <span style="color: rgb(255, 255, 255);"
                                            class="bg-red-600 text-red-100 px-2 py-1 text-xs font-bold rounded-full -top-3 -right-3">
                                            NEW
                                        </span>
                                        <% } %>
                                </a>
                            </li>
                            <li>
                                <a href="/"
                                    class="text-base text-gray-900 font-normal rounded-lg hover:bg-gray-100 flex items-center p-2 group ">
                                    <svg class="w-6 h-6 text-gray-500 flex-shrink-0 group-hover:text-gray-900 transition duration-75"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="size-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418" />
                                    </svg>
                                    <span class="ml-3 flex-1 whitespace-nowrap">Main Site</span>
                                </a>
                            </li>
                        </ul>
                        <div class="space-y-2 pt-2">

                            <a href="#!"
                                class="text-base text-gray-900 font-normal rounded-lg hover:bg-gray-100 group transition duration-75 flex items-center p-2">
                                <svg class="w-6 h-6 text-gray-500 flex-shrink-0 group-hover:text-gray-900 transition duration-75"
                                    fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-2 0c0 .993-.241 1.929-.668 2.754l-1.524-1.525a3.997 3.997 0 00.078-2.183l1.562-1.562C15.802 8.249 16 9.1 16 10zm-5.165 3.913l1.58 1.58A5.98 5.98 0 0110 16a5.976 5.976 0 01-2.516-.552l1.562-1.562a4.006 4.006 0 001.789.027zm-4.677-2.796a4.002 4.002 0 01-.041-2.08l-.08.08-1.53-1.533A5.98 5.98 0 004 10c0 .954.223 1.856.619 2.657l1.54-1.54zm1.088-6.45A5.974 5.974 0 0110 4c.954 0 1.856.223 2.657.619l-1.54 1.54a4.002 4.002 0 00-2.346.033L7.246 4.668zM12 10a2 2 0 11-4 0 2 2 0 014 0z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                <span class="ml-3">Help</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </aside>

        <div class="bg-gray-900 opacity-50 hidden fixed inset-0 z-10" id="sidebarBackdrop"></div>


        <div id="main-content" class="h-full w-full bg-gray-50 relative overflow-y-auto lg:ml-64">
            <main>

                <div class="p-4 bg-white block sm:flex items-center justify-between border-b border-gray-200 lg:mt-1.5">
                    <div class="mb-1 w-full">
                        <div class="mb-4">
                            <nav class="flex mb-5" aria-label="Breadcrumb">
                                <ol class="inline-flex items-center space-x-1 md:space-x-2">
                                    <li class="inline-flex items-center">
                                        <a href="#" class="text-gray-700 hover:text-gray-900 inline-flex items-center">
                                            <svg class="w-5 h-5 mr-2.5" fill="currentColor" viewBox="0 0 20 20"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z">
                                                </path>
                                            </svg>
                                            Home
                                        </a>
                                    </li>
                                    <li>
                                        <div class="flex items-center">
                                            <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                                    clip-rule="evenodd"></path>
                                            </svg>
                                            <a href="#"
                                                class="text-gray-700 hover:text-gray-900 ml-1 md:ml-2 text-sm font-medium">Orders</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="flex items-center">
                                            <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                                    clip-rule="evenodd"></path>
                                            </svg>
                                            <span class="text-gray-400 ml-1 md:ml-2 text-sm font-medium"
                                                aria-current="page">List</span>
                                        </div>
                                    </li>
                                </ol>
                            </nav>
                            <h1 class="text-xl sm:text-2xl font-semibold text-gray-900">All Pending Orders</h1>
                        </div>
                        <div class="sm:flex">
                            <div class="hidden sm:flex items-center sm:divide-x sm:divide-gray-100 mb-3 sm:mb-0">
                                <form class="lg:pr-3" action="#" method="GET">
                                    <label for="users-search" class="sr-only">Search</label>
                                    <div class="mt-1 relative lg:w-64 xl:w-96">
                                        <input type="text" name="email" id="users-search"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"
                                            placeholder="Search for orders">
                                    </div>
                                </form>
                                <div class="flex space-x-1 pl-0 sm:pl-2 mt-3 sm:mt-0">

                                </div>
                            </div>
                            <div class="flex items-center space-x-2 sm:space-x-3 ml-auto">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col">
                    <div class="overflow-x-auto">
                        <div class="align-middle inline-block min-w-full">
                            <div class="shadow overflow-hidden">
                                <table class="table-fixed min-w-full divide-y divide-gray-200">
                                    <thead class="bg-gray-100">
                                        <tr>
                                            <th scope="col" class="p-4">
                                                <div class="flex items-center">
                                                    <input id="checkbox-all" aria-describedby="checkbox-1"
                                                        type="checkbox"
                                                        class="bg-gray-50 border-gray-300 focus:ring-3 focus:ring-cyan-200 h-4 w-4 rounded">
                                                    <label for="checkbox-all" class="sr-only">checkbox</label>
                                                </div>
                                            </th>
                                            <th scope="col"
                                                class="p-4 text-left text-xs font-medium text-gray-500 uppercase">
                                                Tên Người Đặt
                                            </th>
                                            <th scope="col"
                                                class="p-4 text-left text-xs font-medium text-gray-500 uppercase">
                                                Mã Đơn Hàng
                                            </th>
                                            <th scope="col"
                                                class="p-4 text-left text-xs font-medium text-gray-500 uppercase">
                                                Trạng Thái
                                            </th>
                                            <th scope="col"
                                                class="p-4 text-left text-xs font-medium text-gray-500 uppercase">
                                                Thanh Toán
                                            </th>
                                            <th scope="col"
                                                class="p-4 text-left text-xs font-medium text-gray-500 uppercase">
                                                Thời Gian Đặt Hàng
                                            </th>
                                            <th scope="col" class="p-4">
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="bg-white divide-y divide-gray-200">
                                        <form id="get-all-users-form" action="" method="POST">
                                            <% orders.forEach(function(odr) { %>
                                                <tr class="hover:bg-gray-100">
                                                    <td class="p-4 w-4">
                                                        <div class="flex items-center">
                                                            <input id="checkbox-1" name="userId[]"
                                                                value="<%= odr._id %>" aria-describedby="checkbox-1"
                                                                type="checkbox"
                                                                class="bg-gray-50 border-gray-300 focus:ring-3 focus:ring-cyan-200 h-4 w-4 rounded">
                                                            <label for="checkbox-1" class="sr-only">checkbox</label>
                                                        </div>
                                                    </td>
                                                    <td
                                                        class="p-4 flex items-center whitespace-nowrap space-x-6 mr-12 lg:mr-0">
                                                        <img class="h-10 w-10 rounded-full"
                                                            src="<%= odr.user.avatar.url %>">
                                                        <% if(odr.isNew){ %>
                                                            <span style="color: white;"
                                                                class="bg-red-600 text-red-100 px-2 py-1 text-xs font-bold rounded-full -top-3 -right-3">NEW</span>
                                                            <% } %>
                                                                <div class="text-sm font-normal text-gray-500">
                                                                    <div class="text-base font-semibold text-gray-900">
                                                                        <%= odr.user.name %>
                                                                    </div>
                                                                </div>
                                                    </td>
                                                    <td
                                                        class="order-id p-4 whitespace-nowrap text-base font-medium text-gray-900">
                                                        #<%= odr.orderId %>
                                                    </td>
                                                    <td
                                                        class="p-4 whitespace-nowrap text-base font-medium text-gray-900">
                                                        <div class="flex items-center">
                                                            <% if(odr.status==="Pending" ){ %>
                                                                <div class="h-2.5 w-2.5 rounded-full bg-red-500 mr-2">
                                                                </div>
                                                                <% }else{ %>
                                                                    <div
                                                                        class="h-2.5 w-2.5 rounded-full bg-green-400 mr-2">
                                                                    </div>
                                                                    <% } %>
                                                                        <%= odr.status %>
                                                        </div>
                                                    <td
                                                        class="p-4 whitespace-nowrap text-base font-normal text-gray-900">
                                                        <div class="flex items-center">
                                                            <div class="h-2.5 w-2.5 rounded-full bg-green-400 mr-2">
                                                            </div>
                                                            <%= odr.paymentMethod %>
                                                        </div>
                                                    </td>
                                                    <td
                                                        class="p-4 whitespace-nowrap text-base font-normal text-gray-900">
                                                        <div class="flex items-center">
                                                        </div>
                                                        <%= new Date(odr.createdAt).toLocaleString("vi-VN", { hour12:
                                                            false }) %>
                            </div>
                            </td>
                            <td class="p-4 whitespace-nowrap space-x-2">
                                <button type="button" data-modal-toggle="info-order-modal" data-_id="<%= odr.orderId %>"
                                    class="text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm inline-flex items-center px-3 py-2 text-center info-order-btn">
                                    <svg class="mr-2 h-5 w-5" fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z">
                                        </path>
                                        <path fill-rule="evenodd"
                                            d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                    Info
                                </button>
                                <button type="button" data-modal-toggle="edit-order-modal" data-_id="<%= odr.orderId %>"
                                    class="text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm inline-flex items-center px-3 py-2 text-center edit-status-btn">
                                    <svg class="mr-2 h-5 w-5" fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z">
                                        </path>
                                        <path fill-rule="evenodd"
                                            d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                    Edit Status
                                </button>
                                <button type="button" data-modal-toggle="delete-user-modal" data-_id="<%= odr._id %>"
                                    class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm inline-flex items-center px-3 py-2 text-center">
                                    <svg class="mr-2 h-5 w-5" fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                    Delete
                                </button>
                            </td>
                            </tr>
                            <% }); %>
                                </form>
                                </tbody>
                                </table>
                        </div>
                    </div>
                </div>
        </div>
        <div
            class="bg-white sticky sm:flex items-center w-full sm:justify-between bottom-0 right-0 border-t border-gray-200 p-4">
            <div class="flex items-center mb-4 sm:mb-0">
                <a href="#"
                    class="text-gray-500 hover:text-gray-900 cursor-pointer p-1 hover:bg-gray-100 rounded inline-flex justify-center">
                    <svg class="w-7 h-7" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                            clip-rule="evenodd"></path>
                    </svg>
                </a>
                <a href="#"
                    class="text-gray-500 hover:text-gray-900 cursor-pointer p-1 hover:bg-gray-100 rounded inline-flex justify-center mr-2">
                    <svg class="w-7 h-7" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            clip-rule="evenodd"></path>
                    </svg>
                </a>
                <span class="text-sm font-normal text-gray-500">Showing <span
                        class="text-gray-900 font-semibold">1-20</span> of <span class="text-gray-900 font-semibold">
                        <%= countOrders %>
                    </span></span>
            </div>
            <div class="flex justify-center items-center space-x-2 mt-4">
                <% if (currentPage> 1) { %>
                    <a href="?page=<%= currentPage - 1 %>"
                        class="px-3 py-2 bg-cyan-600 text-white rounded-lg hover:bg-cyan-700">Previous</a>
                    <% } %>

                        <% for (let i=1; i <=totalPages; i++) { %>
                            <a href="?page=<%= i %>"
                                class="px-3 py-2 rounded-lg transition-colors <%= i === currentPage ? 'bg-cyan-600 text-white' : 'bg-gray-200 text-gray-700 hover:bg-gray-300'%>">
                                <%= i %>
                            </a>
                            <% } %>

                                <% if (currentPage < totalPages) { %>
                                    <a href="?page=<%= currentPage + 1 %>"
                                        class="px-3 py-2 bg-cyan-600 text-white rounded-lg hover:bg-cyan-700">Next</a>
                                    <% } %>
            </div>
        </div>
        <!-- info  -->
        <div class="hidden overflow-x-hidden overflow-y-auto fixed top-4 left-0 right-0 md:inset-0 z-50 justify-center items-center h-modal sm:h-full"
            id="info-order-modal">
            <div class="relative w-full max-w-2xl px-4 h-full md:h-auto">
                <!-- Modal content -->
                <div class="bg-white rounded-lg shadow relative">
                    <!-- Modal header -->
                    <div class="flex items-start justify-between p-5 border-b rounded-t">
                        <h3 class="text-xl font-semibold">
                            Orders Info
                        </h3>
                        <button type="button"
                            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
                            data-modal-toggle="info-order-modal">
                            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </button>
                    </div>
                    <!-- Modal body -->
                    <div class="p-6 space-y-6">
                        <form method="POST" id="edit-user-form">
                            <div class="grid grid-cols-6 gap-6">
                                <div class="col-span-6 sm:col-span-3">
                                    <label for="name" class="text-sm font-medium text-gray-900 block mb-2">Name</label>
                                    <input type="text" name="name" id="name"
                                        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"
                                        placeholder="Bonnie" readonly>
                                </div>
                                <div class="col-span-6 sm:col-span-3">
                                    <label for="address"
                                        class="text-sm font-medium text-gray-900 block mb-2">Address</label>
                                    <input type="text" name="address" id="address"
                                        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"
                                        placeholder="123 Main St" readonly>
                                </div>
                                <div class="col-span-6 sm:col-span-3">
                                    <label for="phone-number" class="text-sm font-medium text-gray-900 block mb-2">Phone
                                        Number</label>
                                    <input type="number" name="phone_number" id="phone-number"
                                        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"
                                        placeholder="e.g. +(12)3456 789" readonly>
                                </div>
                                <div class="col-span-6 sm:col-span-3">
                                    <label for="city" class="text-sm font-medium text-gray-900 block mb-2">City</label>
                                    <input type="text" name="city" id="city"
                                        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"
                                        placeholder="Development" readonly>
                                </div>
                                <div class="col-span-6 sm:col-span-3">
                                    <label for="email"
                                        class="text-sm font-medium text-gray-900 block mb-2">Email</label>
                                    <input type="text" name="email" id="email"
                                        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"
                                        placeholder="Development" readonly>
                                </div>
                                <div class="col-span-6 sm:col-span-3">
                                    <label for="total-price" class="text-sm font-medium text-gray-900 block mb-2">Tổng
                                        Tiền($)</label>
                                    <input type="number" name="total-price" id="totalPrice"
                                        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"
                                        placeholder="Development" readonly>
                                </div>
                                <!-- Product List -->
                                <div class="col-span-6">
                                    <h3 class="text-md font-semibold text-gray-900 mb-3 border-b pb-1">Sản phẩm trong
                                        đơn hàng</h3>
                                    <div id="product-item" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
                                        <!-- Product Item -->
                                    </div>
                                </div>
                            </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="items-center p-6 border-t border-gray-200 rounded-b">
                        <button
                            class="text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                            type="button" data-modal-toggle="info-order-modal">Close</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Edit User Modal -->
        <div class="hidden overflow-x-hidden overflow-y-auto fixed top-4 left-0 right-0 md:inset-0 z-50 justify-center items-center h-modal sm:h-full"
            id="edit-order-modal">
            <div class="relative w-full max-w-2xl px-4 h-full md:h-auto">
                <!-- Modal content -->
                <div class="bg-white rounded-lg shadow relative">
                    <!-- Modal header -->
                    <div class="flex items-start justify-between p-5 border-b rounded-t">
                        <h3 class="text-xl font-semibold">
                            Edit Status
                        </h3>
                        <button type="button"
                            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
                            data-modal-toggle="edit-order-modal">
                            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </button>
                    </div>
                    <!-- Modal body -->
                    <div class="p-6 space-y-6">
                        <form method="POST" id="edit-user-form">
                            <div class="grid grid-cols-6 gap-6">
                                <div class="col-span-6 sm:col-span-3">
                                    <label for="name" class="text-sm font-medium text-gray-900 block mb-2">Trạng
                                        Thái</label>
                                    <input type="text" name="status" id="status"
                                        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"
                                        placeholder="Bonnie" readonly>
                                </div>
                                <div class="col-span-6 sm:col-span-3">
                                    <label for="name" class="text-sm font-medium text-gray-900 block mb-2">Cập Nhật
                                        Trạng Thái</label>
                                    <select
                                        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"
                                        name="status" id="status-update">
                                        <option value="All">Tất cả trạng thái</option>
                                        <option value="Pending">Đang xử lý</option>
                                        <option value="Confirm">Đã Được Xử Lý, Chờ Giao Hàng</option>
                                        <option value="Shipping">Đang giao hàng</option>
                                        <option value="Success">Đã giao hàng</option>
                                        <option value="Cancelled">Đã hủy</option>
                                    </select>
                                </div>
                            </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="items-center p-6 border-t border-gray-200 rounded-b">
                        <button
                            class="text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                            type="button" id="save-all-btn">Save</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>


        <!-- Delete User Modal -->
        <div class="hidden overflow-x-hidden overflow-y-auto fixed top-4 left-0 right-0 md:inset-0 z-50 justify-center items-center h-modal sm:h-full"
            id="delete-user-modal">
            <div class="relative w-full max-w-md px-4 h-full md:h-auto">
                <!-- Modal content -->
                <div class="bg-white rounded-lg shadow relative">
                    <!-- Modal header -->
                    <div class="flex justify-end p-2">
                        <button type="button"
                            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
                            data-modal-toggle="delete-user-modal">
                            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </button>
                    </div>
                    <!-- Modal body -->
                    <div class="p-6 pt-0 text-center">
                        <svg class="w-20 h-20 text-red-600 mx-auto" fill="none" stroke="currentColor"
                            viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                        </svg>
                        <h3 class="text-xl font-normal text-gray-500 mt-5 mb-6">Are you sure you want to delete
                            this Order?</h3>
                        <a href="#"
                            class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-base inline-flex items-center px-3 py-2.5 text-center mr-2">
                            Yes, I'm sure
                        </a>
                        <a href="#"
                            class="text-gray-900 bg-white hover:bg-gray-100 focus:ring-4 focus:ring-cyan-200 border border-gray-200 font-medium inline-flex items-center rounded-lg text-base px-3 py-2.5 text-center"
                            data-modal-toggle="delete-user-modal">
                            No, cancel
                        </a>
                    </div>
                </div>
            </div>
        </div>

        </main>

    </div>

    </div>
    <form action="" method="POST" id="delete-user-form">


        <script async defer src="https://buttons.github.io/buttons.js"></script>
        <script src="https://themewagon.github.io/windster/app.bundle.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var getAllUserForm = document.getElementById('get-all-users-form');

                var editUserBtn = document.querySelectorAll('.edit-user-btn');
                var infoOrder = document.querySelectorAll('.info-order-btn');
                var deleteUserForm = document.getElementById('delete-user-form');
                var deleteButtons = document.querySelectorAll('button[data-modal-toggle="delete-user-modal"]');
                var editStatus = document.querySelectorAll('.edit-status-btn');
                deleteButtons.forEach(function (button) {
                    button.addEventListener('click', function () {
                        var orderId = this.getAttribute('data-_id');
                        var confirmButton = document.querySelector('#delete-user-modal a.bg-red-600');
                        confirmButton.addEventListener('click', function (event) {
                            event.preventDefault();
                            deleteUserForm.action = '/admin/delete-order/' + orderId + '?_method=DELETE';
                            deleteUserForm.submit();
                        });
                    });
                });

                //save status
                let currentOrderId = null;
                const saveStatusBtn = document.getElementById('save-all-btn');
                const statusSelect = document.getElementById("status-update");
                // Khi bấm nút "Lưu trạng thái"
                saveStatusBtn.addEventListener("click", async function () {
                    if (!currentOrderId) {
                        alert("Chưa chọn đơn hàng để cập nhật!");
                        return;
                    }
                    const newStatus = statusSelect.value;

                    try {
                        const res = await fetch("/admin/update-status/" + currentOrderId, {
                            method: "PATCH",
                            headers: { "Content-Type": "application/json" },
                            body: JSON.stringify({ status: newStatus })
                        });

                        const data = await res.json();
                        if (res.ok) {
                            alert("Cập nhật thành công: " + data.status);
                            location.reload();
                        } else {
                            alert("Lỗi: " + data.message);
                        }
                    } catch (err) {
                        console.error(err);
                        alert("Có lỗi khi cập nhật trạng thái!");
                    }
                });
                //edit status
                const status = document.getElementById("status");
                editStatus.forEach(btn => {
                    btn.addEventListener("click", async function () {
                        currentOrderId = this.getAttribute("data-_id");
                        const res = await fetch("/admin/get-status/" + currentOrderId, {
                            method: "POST",
                            headers: { "Content-Type": "application/json" },
                            body: JSON.stringify({ currentOrderId })
                        });
                        const getOrder = await res.json();
                        status.value = getOrder.status
                    });
                });

                //info 
                const nameInput = document.getElementById("name");
                const addressInput = document.getElementById("address");
                const phoneInput = document.getElementById("phone-number");
                const cityInput = document.getElementById("city");
                const totalPrice = document.getElementById("totalPrice");
                const email = document.getElementById('email');
                const productItemContainers = document.getElementById("product-item");
                infoOrder.forEach(btn => {
                    btn.addEventListener("click", async function () {
                        const orderId = this.getAttribute("data-_id");
                        const res = await fetch("/admin/info-order/" + orderId, {
                            method: "POST",
                            headers: { "Content-Type": "application/json" },
                            body: JSON.stringify({ orderId })
                        });
                        const getOrder = await res.json();
                        nameInput.value = getOrder.billDetails.name;
                        addressInput.value = getOrder.billDetails.address;
                        phoneInput.value = getOrder.billDetails.phoneNumber;
                        cityInput.value = getOrder.billDetails.city;
                        totalPrice.value = getOrder.totalPrice;
                        email.value = getOrder.billDetails.email;

                        let html = '';
                        for (let item of getOrder.item) {
                            let discount = item.productId.discountPercent;
                            let price = item.productId.price;
                            let finalPrice = ((price - (price * discount) / 100) * item.quantity).toFixed(2);
                            html += `
        <div class="flex items-center gap-3 bg-gray-50 border border-gray-200 rounded-xl p-3 shadow-md">
            <img class="h-10 w-10 rounded-full" src="${item.productId.images[0].url}" alt="Product Image"
                class="w-16 h-16 object-cover rounded-md border">
            <div>
                <h4 class="text-base font-semibold text-gray-900">${item.productId.name}</h4>
                <p class="text-sm text-gray-500">Quantity: ${item.quantity}</p>
                <p class="text-sm text-gray-500">Price: $${finalPrice}</p>
            </div>
        </div>
    `;
                        }
                        productItemContainers.innerHTML = html;
                    });
                });


                //check box 
                const checkboxAll = document.getElementById("checkbox-all");
                const checkboxes = document.querySelectorAll('tbody input[type="checkbox"]');

                checkboxAll.addEventListener("change", function () {
                    checkboxes.forEach(cb => cb.checked = checkboxAll.checked);
                });

                checkboxes.forEach(cb => {
                    cb.addEventListener("change", function () {

                        if ([...checkboxes].every(item => item.checked)) {
                            checkboxAll.checked = true;
                        } else {
                            checkboxAll.checked = false;
                        }
                    });
                });

                // search
                const searchInput = document.getElementById("users-search");
                const tableRows = document.querySelectorAll("table tbody tr"); // chỉnh selector cho đúng table

                searchInput.addEventListener("input", function () {
                    const query = this.value.toLowerCase().trim();

                    tableRows.forEach(row => {
                        const name = row.querySelector("td:nth-child(2) .text-base").textContent.toLowerCase();
                        const orderId = row.querySelector(".order-id").textContent.toLowerCase();
                        const email = row.querySelector("td:nth-child(2) .text-sm").textContent.toLowerCase();

                        if (name.includes(query) || email.includes(query) || orderId.includes(query)) {
                            row.style.display = "";
                        } else {
                            row.style.display = "none";
                        }
                    });
                });
            });
            //


        </script>
</body>

</html>